<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UFT-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>TOM_thon</title>
  </head>
  <body>
    
    <div class = 'title'>
      <h1>先島諸島航路における欠航確率</h1>
    </div>
          <table border="1">
            <tr>
        <th>day</th>
        <th>出発航</th>
        <th>10/1</th>
        <th>10/2</th>
        <th>10/3</th>
        <th>10/4</th>
        <th>10/5</th>
        <th>10/6</th>
            </tr>
        <tr bgcolor="#c3ffff">
        <td rowspan="2">航路1</td>
        <td>出発港１</td>
        <td>{{day1}}</td>
        <td>{{day2}}</td>
        <td>{{day3}}</td>
        <td>{{day4}}</td>
        <td>{{day5}}</td>
        <td>{{day6}}</td>
        </tr>
        <tr bgcolor="#c3ffff">
        <td>出発港２</td>
        <td>{{day1}}</td>
        <td>{{day2}}</td>
        <td>{{day3}}</td>
        <td>{{day4}}</td>
        <td>{{day5}}</td>
        <td>{{day6}}</td> 
        </tr>

        <tr bgcolor="#c3ffc0">
        <td rowspan="2">航路2</td>
        <td>出発港１</td>
        <td>{{day1}}</td>
        <td>{{day2}}</td>
        <td>{{day3}}</td>
        <td>{{day4}}</td>
        <td>{{day5}}</td>
        <td>{{day6}}</td>
        </tr>
        <tr bgcolor="#c3ffc0">
        <td>出発港２</td>
        <td>{{day1}}</td>
        <td>{{day2}}</td>
        <td>{{day3}}</td> 
        <td>{{day4}}</td>
        <td>{{day5}}</td>
        <td>{{day6}}</td> 
        </tr>
            </tr>
            <tr bgcolor="#9799ff">
            
              <td rowspan="2">航路3</td>
             <td>出発港１</td>
             <td>{{day1}}</td>
             <td>{{day2}}</td>
             <td>{{day3}}</td>          
             <td>{{day4}}</td>
             <td>{{day5}}</td>
             <td>{{day6}}</td>
                </tr>
                <tr bgcolor="#9799ff">
                <td>出発港２</td>
                <td>{{day1}}</td>
                <td>{{day2}}</td>
                <td>{{day3}}</td>
                <td>{{day4}}</td>
                <td>{{day5}}</td>
                <td>{{day6}}</td> 
                </tr>
                    </tr>
                    <tr bgcolor="#efffd4">
                        <td rowspan="2">航路4</td>
                        <td>出発港１</td>
                        <td>{{day1}}</td>
                        <td>{{day2}}</td>
                        <td>{{day3}}</td>
                        <td>{{day4}}</td>
                        <td>{{day5}}</td>
                        <td>{{day6}}</td>
                        </tr>
                        <tr bgcolor="#efffd4">
                        <td>出発港２</td>
                        <td>{{day1}}</td>
                        <td>{{day2}}</td>
                        <td>{{day3}}</td>
                        <td>{{day4}}</td>
                        <td>{{day5}}</td>
                        <td>{{day6}}</td> 
                        </tr>
                        <tr bgcolor="#3796ff">
                            <td rowspan="2">航路5</td>
                            <td>出発港１</td>
                            <td>{{day1}}</td>
                            <td>{{day2}}</td>
                            <td>{{day3}}</td>
                            <td>{{day4}}</td>
                            <td>{{day5}}</td>
                            <td>{{day6}}</td>
                            </tr>
                            <tr bgcolor="#3796ff"> 
                            <td>出発港２</td>
                            <td>{{day1}}</td>
                            <td>{{day2}}</td>
                            <td>{{day3}}</td>
                            <td>{{day4}}</td>
                            <td>{{day5}}</td>
                            <td>{{day6}}</td> 
                            </tr>
                            <tr bgcolor="#1133ff">
                                <td rowspan="2">航路6</td>
                                <td>出発港１</td>
                                <td>{{day1}}</td>
                                <td>{{day2}}</td>
                                <td>{{day3}}</td>
                                <td>{{day4}}</td>
                                <td>{{day5}}</td>
                                <td>{{day6}}</td>
                                </tr>
                                <tr bgcolor="#1133ff">
                                <td>出発港２</td>
                                <td>{{day1}}</td>
                                <td>{{day2}}</td>
                                <td>{{day3}}</td>
                                <td>{{day4}}</td>
                                <td>{{day5}}</td>
                                <td>{{day6}}</td> 
                                </tr>
                                <tr bgcolor="#9222ff">
                                    <td rowspan="2">航路7</td>
                                    <td>出発港１</td>
                                    <td>{{day1}}</td>
                                    <td>{{day2}}</td>
                                    <td>{{day3}}</td>
                                    <td>{{day4}}</td>
                                    <td>{{day5}}</td>
                                    <td>{{day6}}</td>
                                    </tr>
                                    <tr bgcolor="#9222ff"> 
                                    <td>出発港２</td>
                                    <td>{{day1}}</td>
                                    <td>{{day2}}</td>
                                    <td>{{day3}}</td>
                                    <td>{{day4}}</td>
                                    <td>{{day5}}</td>
                                    <td>{{day6}}</td> 
                                    </tr>                       
          <tr>
            <td>解説</td>
            <td colspan="11">ここにどのような解説を入れるのか考えるべき</td>
          </tr>
          <tr>
      <td>更新日</td>
      <td colspan="11">2019/10/1 16:00更新</td>      
            </tr>
         </table>

  </body>
</html>
