<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example that shows off a responsive photo gallery.">
  <title>竹富</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-"
    crossorigin="anonymous">

  <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
  <!--<![endif]-->


  <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/gallery-old-ie.css">
        <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="../static/css/taketomi.css">
  <!--<![endif]-->
</head>





<section class="wrapper">
  <!-- Row title -->
  <main class="row title">
    <ul>
      <li>day</li>
      <li></li>
      <li>竹富 発</li>
      <li></li>
      <li>石垣 島</li>
      <!-- <li>Max</li>
      <li>Time</li> -->
    </ul>
  </main>
  <!-- Row 1 - fadeIn -->
  <!-- <section class="row-fadeOut-wrapper"> -->
  <article class="row nfl">
    <ul>
      <li><a>{{li_day1}}</a></li>
      <li></li>
      <li>{{taketomi_day1}} (&plusmn;{{taketomigosa_day1}})</li>
      <li></li>
      <li>{{taketomi_isigaki1}} (&plusmn;{{taketomigosa_isigaki1}})</li>
      <!-- <li>48</li>
        <li>2:00ET</li> -->
    </ul>
    <!-- <ul class="more-content">
        <li>This 1665-player contest boasts a $300,000.00 prize pool and pays out the top 300 finishing positions. First
          place wins $100,000.00. Good luck!</li> -->
    </ul>
  </article>
  <!-- </section> -->
  <!-- Row 2 - fadeOut -->
  <!-- <section class="row-fadeOut-wrapper"> -->
  <article class="row nfl">
    <ul>
      <li><a> {{li_day2}} </a></li>
      <li></li>
      <li>{{taketomi_day2}} (&plusmn;{{taketomigosa_day2}})</li>
      <li></li>
      <li>{{taketomi_isigaki2}} (&plusmn;{{taketomigosa_isigaki2}})</li>
      <!-- <li>100</li>
        <li>3:00ET</li> -->
    </ul>
    <!-- <ul class="more-content">
        <li>This 1665-player contest boasts a $300,000.00 prize pool and pays out the top 300 finishing positions. First
          place wins $100,000.00. Good luck!</li>
      </ul> -->
  </article>
  <!-- </section> -->
  <!-- Row 3 -->
  <article class="row nfl">
    <ul>
      <li><a>{{li_day3}}</a></li>
      <li></li>
      <li>{{taketomi_day3}} (&plusmn;{{taketomigosa_day3}})</li>
      <li></li>
      <li>{{taketomi_isigaki3}} (&plusmn;{{taketomigosa_isigaki3}})</li>
      <!-- <li>48</li>
      <li>12:00ET</li> -->
    </ul>
    <!-- <ul class="more-content">
      <li>This 1665-player contest boasts a $300,000.00 prize pool and pays out the top 300 finishing positions. First
        place wins $100,000.00. Good luck!</li>
    </ul> -->
  </article>
  <!-- Row 4 -->
  <article class="row mlb">
    <ul>
      <li><a>{{li_day4}}</a></li>
      <li></li>
      <li>{{taketomi_day4}} (&plusmn;{{taketomigosa_day4}})</li>
      <li></li>
      <li>{{taketomi_isigaki4}} (&plusmn;{{taketomigosa_isigaki4}})</li>
      <!-- <li>10</li>
      <li>1:00ET</li> -->
    </ul>
    <!-- <ul class="more-content">
      <li>This 1665-player contest boasts a $300,000.00 prize pool and pays out the top 300 finishing positions. First
        place wins $100,000.00. Good luck!</li>
    </ul> -->
  </article>
  <!-- Row 5 -->
  <article class="row mlb">
    <ul>
      <li><a>{{li_day5}}</a></li>
      <li></li>
      <li>{{taketomi_day5}} (&plusmn;{{taketomigosa_day5}})</li>
      <li></li>
      <li>{{taketomi_isigaki5}} (&plusmn;{{taketomigosa_isigaki5}})</li>
      <!-- <li>120</li>
      <li>12:00ET</li> -->
    </ul>
    <!-- <ul class="more-content">
      <li>This 1665-player contest boasts a $300,000.00 prize pool and pays out the top 300 finishing positions. First
        place wins $100,000.00. Good luck!</li>
    </ul> -->
  </article>
  <!-- Row 6 -->
  <article class="row nhl">
    <ul>
      <li><a>{{li_day6}}</a></li>
      <li></li>
      <li>{{taketomi_day6}} (&plusmn;{{taketomigosa_day6}})</li>
      <li></li>
      <li>{{taketomi_isigaki6}} (&plusmn;{{taketomigosaisigaki6}})</li>
      <!-- <li>48</li>
      <li>12:00ET</li> -->
    </ul>
    <!-- <ul class="more-content">
      <li>This 1665-player contest boasts a $300,000.00 prize pool and pays out the top 300 finishing positions. First
        place wins $100,000.00. Good luck!</li>
    </ul> -->
  </article>
  <!-- Row 7 -->
  <article class="row nhl">
    <ul>
      <li><a>{{li_day7}}</a></li>
      <li></li>
      <li>{{taketomi_day7}} (&plusmn;{{taketomigosa_day7}})</li>
      <li></li>
      <li>{{taketomi_isigaki7}} (&plusmn;{{taketomigosa_isigaki7}})</li>
      <!-- <li>48</li>
      <li>12:00ET</li> -->
    </ul>
    <!-- <ul class="more-content">
      <li>This 1665-player contest boasts a $300,000.00 prize pool and pays out the top 300 finishing positions. First
        place wins $100,000.00. Good luck!</li>
    </ul> -->
  </article>
  <!-- Row 8 -->
  <article class="row pga">
    <ul>
      <li><a>{{li_day8}}</a></li>
      <li></li>
      <li>{{taketomi_day8}} (&plusmn;{{taketomigosa_day8}})</li>
      <li></li>
      <li>{{taketomi_isigaki8}} (&plusmn;{{taketomisosa_isigaki8}})</li>
      <!-- <li>48</li>
      <li>11:00ET</li> -->
    </ul>
    <!-- <ul class="more-content">
      <li>This 1665-player contest boasts a $300,000.00 prize pool and pays out the top 300 finishing positions. First
        place wins $100,000.00. Good luck!</li>
    </ul> -->
  </article>
  <!-- Row 9 -->
  <article class="row pga">
    <ul>
      <li><a>{{li_day9}}</a></li>
      <li></li>
      <li>{{taketomi_day9}} (&plusmn;{{taketomigosa_day9}})</li>
      <li></li>
      <li>{{taketomi_isigaki9}} (&plusmn;{{taketomigosa_isigaki9}})</li>
      <!-- <li>48</li>
      <li>11:00ET</li> -->
    </ul>
    <!-- <ul class="more-content">
      <li>This 1665-player contest boasts a $300,000.00 prize pool and pays out the top 300 finishing positions. First
        place wins $100,000.00. Good luck!</li>
    </ul> -->
  </article>
  <!-- Row 10 -->
  <article class="row pga">
    <ul>
      <li><a>{{li_day10}}</a></li>
      <li></li>
      <li>{{taketomi_day10}} (&plusmn;{{taketomigosa_day10}})</li>
      <li></li>
      <li>{{taketomi_isigaki10}} (&plusmn;{{taketomigosa_isigaki10}})</li>
      <!-- <li>48</li>
      <li>11:00ET</li> -->
    </ul>
    <!-- <ul class="more-content">
      <li>This 1665-player contest boasts a $300,000.00 prize pool and pays out the top 300 finishing positions. First
        place wins $100,000.00. Good luck!</li>
    </ul> -->
  </article>
  <!-- Row 11 -->
  <!-- <article class="row mlb">
    <ul>
      <li><a href="#">MLB</a></li>
      <li>$10</li>
      <li>1</li>
      <li>10</li>
      <li>1:00ET</li> -->
  <!-- </ul>
    <ul class="more-content">
      <li>This 1665-player contest boasts a $300,000.00 prize pool and pays out the top 300 finishing positions. First
        place wins $100,000.00. Good luck!</li>
    </ul>
  </article> -->
</section>